@import url("https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100");

/* General Reset */
* {
    margin: 0;
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1a202c;
}

/* Navbar Section */
.left-section, .right-section {
    display: flex;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1f1f21;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo {
    height: 50px;
    width: 150px;
    margin-right: 20px;
}

.logo {
    background-image: url("../pics/logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.nav-bar .item {
    font-size: 1.2rem;
    font-weight: 400;
    color: #f8f9fa;
    transition: color 0.3s;
}

.nav-bar .item.generate {
    margin-right: 20px;
}

.nav-bar .item.history {
    margin-right: 15px;
}

.nav-bar .item:hover {
    color: #63b3ed;
}

/* Remove underline from navigation links */
.nav-bar .item a {
    text-decoration: none;
    color: inherit;
}

.nav-bar .right-section {
    margin-left: auto;
}

.nav-bar .profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #1a1625;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    padding: 0 15px;
    color: #f8f9fa;
    transition: background-color 0.3s ease;
}

.nav-bar .profile:hover {
    background-color: #5e5a66;
}

.nav-bar .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-bar .profile .name {
    font-size: 1rem;
    font-weight: bold;
}

.nav-bar .profile .dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #3f3f3f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    font-family: "Gill Sans", sans-serif;
}

.nav-bar .profile .dropdown a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: "Gill Sans", sans-serif;
}

.nav-bar .profile .dropdown a:hover {
    background-color: #b0acc8;
}

/* GIF Gallery Section */
.gif-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.gif-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.gif-item {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    padding: 5px;
}

.gif-item:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
 /* Add a border or other visual indicator to the selected GIF */
.gif-item.selected {
    border: 2px solid grey;
    padding: 3px; /* Adjust padding to maintain size */
}
/* Main Section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: inherit;
    padding: 20px;
}

/* Input Section */
.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    width: 100%;
    margin: 20px auto;
}

.input-field {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
}

.input-field:hover {
    border: 2px solid #4ade80;
}

.input-field::placeholder {
    color: #9ca3af;
}

.input-field:focus::after {
    border-color: #9ca3af;
}

.generate-btn {
    width: 150px;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #435B66;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-btn:hover {
    background-color: #2D4356;
}

/* Popup Section */
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    border-radius: 15px;
    display: none;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    margin-top: 15%;
}

#popup.active {
    display: block;
}

#blur.active {
    filter: blur(4px);
}

.popup-content {
    text-align: center;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    color: #999;
    margin-bottom: 25px;
}

.add {
    animation: animate 0.7s ease-in-out 0.1s;
}

@keyframes animate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.progress-bar {
    width: 406px;
    height: 22px;
    background: #111;
    border-radius: 13px;
    padding: 3px;
    box-sizing: border-box;
}

.progress {
    width: 203px;
    height: 16px;
    background: #aaaaaa;
    border-radius: 13px;
}

.percent {
    position: absolute;
    left: 187px;
    color: #fdb5ca;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
}
.null{
     visibility: visible;
}
 .hidden {
     visibility: hidden;
 }