* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.left-section, .right-section {
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 150px;
    margin-right: 20px;
}

.logo {
    background-image: url("logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.nav-bar .item {
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem; /* Reduced font size */
    font-weight: 400;
    color: #333;
}

.nav-bar .item.generate {
    margin-right: 20px;
}

.nav-bar .item.history {
    margin-right: 15px;
}

.nav-bar .profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    border: 1px solid white;
    padding: 0 15px;
}

.nav-bar .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-bar .profile .name {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.nav-bar .profile .dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.nav-bar .profile .dropdown a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.nav-bar .profile .dropdown a:hover {
    background-color: #f1f1f1;
}

body {
    background-color: white; /* Set background color to black */
    color: white; /* Set text color to white for contrast */
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
